.app {
  height: 100%;
  font-family: 'Roboto', sans-serif;
/*  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  width: calc(100% - 20px);
  max-width: 1024px;*/
  background-image: url("../../../images/arab_tile.png");
  background-repeat: repeat; 
}
.header {
  color: white;
  background: steelblue;
  background-color: rgba(0,0,0,0.8);
  /*background-image: linear-gradient(rgb(94, 154, 203),steelblue);*/
  /*height: 50px;*/
  /*line-height: 50px;*/
  text-align: center;
  padding: 16px;
}
.title {
  font-size: 2em;
  text-align: center;
  display: inline-block;
}
.content {

}
.absolute {
  position: absolute;
}
