.container {
  padding-top: 100px;
}

.maxWidthMargin {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  background: black;
  color: royalblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  padding-bottom: 5px;
  text-align: center;
}

.title {
  margin: 10px 0;
}

.navigation {
  composes: maxWidthMargin;
  list-style: none;
  li {
    background-color: rgba(50, 50, 50, 0.8);
    display: inline-block;
    padding: 5px;
    margin: 5px;
    text-align: center;
    a {
      text-decoration: none;
    }
    .externalLink {
      color: white;
    }
  }
  li:hover {
    background-color: rgba(50, 50, 50, 1);
  }
}

.content {
  composes: maxWidthMargin;
  padding: 10px 50px;
}

.fullpage {
  height: 100%;
  width: 100%;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}

.link {
  background: rgba(255, 0, 0, 0.6);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
